input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input,
select {
  padding: 6px;
  border: 1px solid grey;
}

.wrapper {
  margin: 10px;
}
