body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input,
select {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 5px;
}

.fiat-wrapper,
.crypto-wrapper,
.coinbase-wrapper {
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 350px;
  padding: 1.5em;
}

.equal {
  margin-left: 80px;
}

.data-from {
  opacity: 50%;
  font-size: 0.7em;
  margin-bottom: 1.2em;
}

h3 {
  margin-top: 0.2em;
  margin-bottom: 0em;
}

p {
  margin: 5px;
}
