body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input,
select {
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

.fiat-wrapper,
.crypto-wrapper,
.coinbase-wrapper {
  margin-top: 35px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid lightgray;
  border-radius: 10px;
  width: 330px;
  padding: 1.5em;
}

.equal {
  margin-left: 80px;
}

.data-from {
  opacity: 50%;
  font-size: 0.7em;
  margin-bottom: 1.2em;
}
.data-from a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
}

h3 {
  margin-top: 0.2em;
  margin-bottom: 0em;
  opacity: 60%;
}

p {
  margin: 5px;
}
